---
import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';
import '../styles/global.css';
import fab from '../../public/fabic.png';
import ogimg from '../assets/images/logo.png'

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Kevin Focke',
  description = '',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href={fab.src} />
    
    <!-- Open Graph (Social Sharing) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogimg.src} />
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>